<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {border: black 1px solid}
        table tr {border: black 1px solid}
        table tr td {border: black 1px solid}
        table tr th {border: black 1px solid}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>내 글 목록</h1>
    <a href="#" id="home">Home으로</a>
    <table class="table table-hover">
	<thead>
		<tr>
			<th  class="text-center">글 번호</th>
			<th  class="text-center">제목</th>
			<th  class="text-center">글쓴이</th>
			<th  class="text-center">작성일</th>
			<th  class="text-center">조회수</th>
		</tr>
    </thead>
    <tbody>
        <tr>
			<td  class="text-center">1</td>
			<td class="text-center">테스트</td>
			<td  class="text-center">홍</td>
			<td  class="text-center">2020-12-01</td>
			<td  class="text-center">100</td>
		</tr>
    </tbody>
    <script>
        document.getElementById('home').addEventListener('click',e=>{
       location.href = '/'})
   </script>

</body>
</html>